spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/upload_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
